<footer class="bg-black tan sans-serif center-txt">
    <div class="font08">
        <div>&copy; <span id="copyright-year"></span> Chris Fowler</div>
        <div>Attributions: 
            <a class="light-blue no-under" href="https://www.flaticon.com/free-icons/scroll" title="scroll icons" target="_blank">Scroll icons created by Freepik - Flaticon</a>
        </div>
    </div>
</footer>