<footer class="bg-grey darken4 white sans-serif center-txt">
    <div class="bg-grey darken4 white sans-serif center-txt">
        <div class="font08">
            <div>&copy; 2022 Chris Fowler</div>
            <div>
                <a class="blue lighten2 no-under" href="https://www.flaticon.com/free-icons/scroll" title="scroll icons" target="_blank">Scroll icons created by Freepik - Flaticon</a>
            </div>
        </div>
    </div>
        <a href="/scrolls/add" id="add-btn" class="bg-red darken1"><i class="material-icons">add</i></a>
</footer>