<header>  
    <div id="header-wrap" class="bg-color2">
        <a href="/dashboard" id="logo-hdr">
            <span id="logo-brand" class="white">UnScroll</span>
            <img id="logo-img" src="/images/scroll-empty.png" alt="Papyrus Scroll Icon">
        </a>
        <a href="#" class="hambars" aria-label="Menu"><span></span></a>
        <div class="navMenu bg-color2">
            <ul>
                <li><a id="dashLink" class="navLink" href="/dashboard">Dashboard</a></li>
                <li><a id="addLink" class="navLink" href="/scrolls/add"><i class="material-icons">add</i>Scroll</a></li>
                <li><a id="scrollsLink" class="navLink" href="/scrolls">Scrolls</a></li>
                <li><a id="friendsLink" class="navLink" href="/users/{{getLoggedUserId user}}/friends">Friends</a></li>
                <li><a id="accountLink" class="navLink" href="/users/{{getLoggedUserId user}}">Account</a></li>
                {{{usersLink user}}}
                {{{logOutInLink user}}}
            </ul>
        </div>
    </div>
</header>