<header>  
    <div id="header-wrap" class="bg-grey darken3">
        <a href="/dashboard" id="logo-hdr">
            <span id="logo-brand" class="tan">UnScroll</span>
            <img id="logo-img" src="/images/scroll-empty.png" alt="Papyrus Scroll Icon">
        </a>
        <a href="#" class="hambars white"><span></span></a>
        <div class="navMenu bg-grey darken3">
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/scrolls/add">New Scroll <i class="material-icons">add</i></a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/scrolls">Public Scrolls</a></li>
                {{{usersLink user}}}
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</header>