<header>  
    <div id="header-wrap" class="bg-color2">
        <a href="/dashboard" id="logo-hdr">
            <span id="logo-brand" class="white">UnScroll</span>
            <img id="logo-img" src="/images/scroll-empty.png" alt="Papyrus Scroll Icon">
        </a>
        <a href="#" class="hambars" aria-label="Menu"><span></span></a>
        <div class="navMenu bg-color2">
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/scrolls/add">New Scroll <i class="material-icons">add</i></a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/scrolls">Public Scrolls</a></li>
                {{{usersLink user}}}
                {{{profileLink user}}}
                {{{logOutInLink user}}}
            </ul>
        </div>
    </div>
</header>