<header>  
    <div id="header-wrap" class="bg-grey darken3">
        <a href="/dashboard" id="logo-hdr">
            <img id="logo-img" src="/images/scroll-empty.png" alt="Papyrus Scroll Icon">
            UnScroll
        </a>
        <a href="#" class="hambars white"><span></span></a>
        <div class="navMenu bg-grey darken3">
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/scrolls">Public Scrolls</a></li>
                {{!-- if chris2fowler(at)gmail.com is the current user, show users link --}}
                {{#if (contains user "googleId: '104800435635587428982'")}}
                    <li><a href="/users">Users</a></li>
                {{/if}}
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</header>