<nav class="grey darken-3">
    <div class="nav-wrapper container">


        <a href="/dashboard" class="brand-logo center">
            <img id="logo-header" src="/images/scroll-empty.png" alt="Papyrus Scroll Icon">
            UnScroll
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/scrolls">Public Scrolls</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>