<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>
    <link rel="stylesheet" href="/css/small.css">
    <link rel="stylesheet" href="/css/large.css">
    <script src="/js/main.js" type="module" defer></script>
    <title>UnScroll</title>
</head>

<body>


{{> _header}}

<main>
    {{{body}}}
</main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.0/ckeditor.js" integrity="sha512-tjxUra6WjSA8H5+nC7G61SVqEXj1e958LdR4N8BGZeRx9tObm/YhsrUzY6tH4EuHQyZqOyu317pgV7f8YPFoAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        // Add the CKEDITOR text editor to the form textarea
        CKEDITOR.replace('scroll-body', {
            // plugins: 'wysiwygarea, toolbar, basicstyles, link',
        });
        // Enable spell check
        CKEDITOR.config.disableNativeSpellChecker = false;

    </script>

{{> _footer-main}}

</body>

</html>