<!DOCTYPE html>
<html lang="en">

<head id="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{scroll.title}}">
    <meta property="og:type" content="website">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>
    <link rel="stylesheet" href="/css/small.css">
    <link rel="stylesheet" href="/css/large.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title id="doc-title">UnScroll</title>
</head>

<body>


{{> _header}}

<main>
    <div id="main-body">{{{body}}}</div>
</main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.0/ckeditor.js" integrity="sha512-tjxUra6WjSA8H5+nC7G61SVqEXj1e958LdR4N8BGZeRx9tObm/YhsrUzY6tH4EuHQyZqOyu317pgV7f8YPFoAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        // check if #scroll-body textarea is on the page
        if(document.querySelector('#scroll-body')) {
            // Add the CKEDITOR text editor to the form textarea
            let editor = CKEDITOR.replace('scroll-body', {
                // plugins: 'wysiwygarea, toolbar, basicstyles, link',
            });
            // Enable spell check
            CKEDITOR.config.disableNativeSpellChecker = false;

            // Shows a warning if the scroll body is blank
            editor.on( 'required', (event) => {
                editor.showNotification( 'The scroll body cannot be blank', 'warning', 2000 );
                event.cancel();
            });
        }

    </script>

{{> _footer-main}}

    {{!-- This can't be deferred so I put it here rather than in <head> --}}
    <script src="/js/main.js" type="module"></script>
</body>

</html>