<h1>Create a Scroll</h1>

<form action="/scrolls" method="POST" id="add_edit-form">
    {{!-- Scroll Title --}}
    <div class="row">
        <label for="title">Title: 
            <input type="text" name="title" id="title" class="block pad-0_5" required>
        </label>
    </div>
    {{!-- Scroll Status --}}
    <div class="row">Status:
        <fieldset class="wide-fit font095 pad-0_3">
            <label for="private">Private
                <input type="radio" name="status" id="private" value="private" checked>
            </label>
            <label for="public">Public
                <input type="radio" name="status" id="public" value="public">
            </label>
        </fieldset>
    </div>
    {{!-- Scroll Tags --}}
    <div class="row">
        <label for="tags">Tags: 
            <input type="text" name="tags" id="tags" class="block pad-0_5" placeholder="(separate tags by comma)">
        </label>
    </div>
    {{!-- Scroll Body --}}
    <div class="row">
        <label>Scroll Body:
            <textarea name="body" id="scroll-body" required></textarea>
        </label>
    </div>
    {{!-- Save or Cancel Buttons --}}
    <div class="row">
        <input type="submit" value="Save" class="btn border1 bg-color3 white">
        <a href="/dashboard" class="btn border1 bg-color5 white">Cancel</a>
    </div>
</form>