<h3>Edit Scroll</h3>
<div class="row">
    <form action="/scrolls/{{scroll._id}}" method="POST" class="col s12">
        {{!-- overrides the POST method --}}
        <input type="hidden" name="_method" value="PUT">

        <div class="row">
            <div class="input-field">
                <input type="text" name="title" id="title" value="{{scroll.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    {{#if (equals scroll.status 'public')}}
                        <option value="public" selected>Public</option>
                        <option value="private">Private</option>
                    {{else}}
                        <option value="public">Public</option>
                        <option value="private" selected>Private</option>
                    {{/if}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Scroll Body:</h5>
                <textarea name="body" id="body">{{scroll.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="submit" value="Save" class="btn">
                <a href="/dashboard" class="btn orange">Cancel</a>
            </div>
        </div>

    </form>
</div>