<h1>Edit Scroll</h1>

<form action="/scrolls/{{scroll._id}}" method="POST" id="add_edit-form">
    {{!-- overrides the POST method --}}
    <input type="hidden" name="_method" value="PUT">
    {{!-- Scroll Title --}}
    <div class="row">
        <label for="title">Title: 
            <input type="text" name="title" id="title" value="{{scroll.title}}">
        </label>
    </div>
    {{!-- Scroll Status --}}
    <div class="row">
        <fieldset class="wide-fit">
            <legend>Status</legend>
            <label for="private">Private
                <input type="radio" name="status" id="private" value="private"
                {{#if (equals scroll.status 'private')}}checked{{/if}}
                >
            </label>
            <label for="public">Public
                <input type="radio" name="status" id="public" value="public"
                {{#if (equals scroll.status 'public')}}checked{{/if}}
                >
            </label>
        </fieldset>
    </div>
    {{!-- Scroll Tags --}}
    <div class="row">
        <label for="tags">Tags: 
            <input type="text" name="tags" id="tags" value="{{scroll.tags}}">
        </label>
    </div>
    {{!-- Scroll Body --}}
    <div class="row">
        <label>Scroll Body:
            <textarea name="body" id="scroll-body">{{scroll.body}}</textarea>
        </label>
    </div>
    {{!-- Save or Cancel Buttons --}}
    <div class="row">
        <input type="submit" value="Save" class="btn border1 bg-color3 white">
        <a href="/dashboard" class="btn border1 bg-color5 white">Cancel</a>
    </div>
</form>