<h3><i class="fa-solid fa-scroll"> UnScroll</i></h3>
<div class="section">
    <p class="lead">Archive and journal your heart and mind</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i> Log In With Google</a>
</div>