{{!-- Login Layout Body --}}
<img src="/images/scroll-empty.png" alt="Papyrus Scroll Icon">
<h3 class="font25 marg-top-1 marg-bot-0"><i class="fa-solid"> UnScroll</i></h3>
<div class="section">
    <p class="font09 no-marg">A place to unscroll your soul</p>
</div>
<div class="divider"></div>
<div class="section">
    <a class="caps bg-red darken1 white btn" href="/auth/google"><i class="fab fa-google left"></i> Log In With Google</a>
</div>

