{{!-- Login Layout Body --}}
<img src="/images/scroll-empty.png" alt="Papyrus Scroll Icon">
<h1 class="font2_5 marg-top-1 marg-bot-0"><i class="fa-solid green dark"> UnScroll</i></h1>
<div class="section">
    <p class="font09 no-marg green dark">A place to unscroll your soul</p>
</div>
<div class="divider"></div>
<div class="section">
    <a class="caps bg-red white btn" href="/auth/google"><i class="fab fa-google"></i>&nbsp;Log In With Google</a>
</div>

