@media only screen and (min-width: 38em) {

    .hide-small {
        display: initial;
    }

    .hide-large {
        display: none;
    }

    .pad-2-large {
        padding: 2rem;
    }

    .pad-4-large {
        padding: 4rem;
    }

    .inline-large {
        display: inline !important;
    }

    #main-body {
        margin: 0 auto 6rem;
        max-width: 80rem;
    }
    
    .table-cell {
        display: table-cell;
    }
    
    .flex-large {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .gap2 {
        gap: 2rem;
    }

    .flex-large .card {
        margin: 0 2rem 2rem 0;
        width: 300px;
        height: fit-content;
    }

    .card-large {
        max-width: 500px;
    }

    .card {
        border-radius: 1rem;
    }

    .tool-btn {
        height: 48px;
        margin: 0 1rem 0 0;
    }

    .scroll-search {
        display: flex;
        flex-wrap: wrap;
    }

    #account-display, #friend-display {
        border: 2px solid;
        padding: 2rem;
        border-radius: 1rem;
    }
}