@media only screen and (min-width: 38em) {

    :root {
        --color1: #EA8C55;
        --color2: #000500;
        --color3: #054A91;
        --color4: #C5CBD3;
        --color5: #B6465F;
    }

    .hide-small {
        display: initial;
    }

    .hide-large {
        display: none;
    }

    .pad-2-large {
        padding: 2rem;
    }

    .pad-4-large {
        padding: 4rem;
    }

    .inline-large {
        display: inline !important;
    }

    #main-body {
        margin: 0 auto 6rem;
        max-width: 80rem;
    }
    
    .table-cell {
        display: table-cell;
    }
    
    .flex-large {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .gap2 {
        gap: 2rem;
    }

    .flex-large .card {
        margin: 0 2rem 2rem 0;
        width: 300px;
        height: fit-content;
    }

    .card-large {
        max-width: 500px;
    }

    .card {
        border-radius: 1rem;
    }

    .tool-btn {
        height: 48px;
        margin: 0 1rem 0 0;
    }

    .scroll-search {
        display: flex;
        flex-wrap: wrap;
    }

    #account-display, #friend-display {
        border: 2px solid;
        padding: 2rem;
        border-radius: 1rem;
    }


    /* ---------------------------------------------------------------------- */
    /* ------------------------------ NAV TOGGLE ---------------------------  */

    #header-wrap {
        flex-wrap: wrap;
    }

    .hambars {
        position: initial;
        z-index: unset;
        display: none;
    }

    .navMenu {
        margin: 0 auto;
        padding: 0;
        width: fit-content;
        position: initial;
        border-radius: initial;
    }

    .navMenu ul {
        display: flex;
        flex-wrap: wrap;
    }

    .navMenu ul li {
        margin: 0;
        padding: 0;
    }

    .navMenu a {
        margin: 0;
        padding: .5rem 1rem;
        color: var(--color1);
        height: 100%;
        border-radius: 1rem;
    }

    .navMenu a:hover, .navMenu a.active {
        background-color: var(--color4);
        color: var(--color2);
    }
}