*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}


/* ---------------------------------------------------------------------- */
/* ------------------------------ CLASSES ------------------------------  */

.card {
    margin: 1rem auto;
    box-shadow: 2px 2px 4px #bbb;
}

.sans-serif {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caps {
    text-transform: uppercase;
}

.test-border {
    border: 1px solid red;
}

.no-under {
    text-decoration: none;
}

.no-marg {
    margin: 0;
}

.marg-top-1 {
    margin-top: 1rem;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #eee;
    width: 80%;
    margin: 0 auto;
}

.center-txt { 
    text-align: center;
}

.pad-top-4 {
    padding-top: 4rem;
}

.pad-bot-2 {
    padding-bottom: 2rem;
}

.marg-bot-0 {
    margin-bottom: 0;
}

.section {
    padding: 1.25rem 0;
}

.font08 {
    font-size: .8rem;
}

.font09 {
    font-size: .9rem;
}

.font25 {
    font-size: 2.5rem;
}

.bg-grey.darken4 {
    background-color: #222;
}

.bg-grey.darken3 {
    background-color: #424242;
}

.bg-red.darken1 {
    background-color: #E53935;
}

.btn {
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0px 2px 2px #bbb;
}

.btn:hover {
    box-shadow: 1px 2px 3px #777;
}

.blue.lighten2 {
    color: dodgerblue;
}

.white {
    color: white;
}

.hide {
    display: none;
}

.grid10 {
    display: grid;
    grid-template-columns: 10fr 1fr;
}


/* ---------------------------------------------------------------------- */
/* ------------------------------ IDS ----------------------------------  */

#header-wrap {
    margin: 0 0 1rem 0;
    padding: .8rem 1rem .5rem 1rem;
    display: flex;
    justify-content: space-between;
}

#logo-img {
    margin: 0 0 .65rem 0;
    vertical-align: middle;
    width: 50px;
}

#logo-hdr {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    z-index: 2;
}

#logo-hdr:hover {
    color: bisque;
}

#add-btn {
    /* temporary */
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

#add-btn:hover {
    border: 1px solid bisque;
    box-shadow: 0 0 5px bisque;
}


/* ---------------------------------------------------------------------- */
/* ------------------------------ NAV TOGGLE ---------------------------  */

.hambars {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 44px;
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 100;
}

.hambars span,
.hambars span:before,
.hambars span:after {
    content: " ";
    height: 4px;
    width: 30px;
    position: absolute;
    background-color: white;
    transition: 150ms ease-in-out;
    border-radius: 5px;
}

.hambars:hover > span,
.hambars:hover > span:before,
.hambars:hover > span:after {
    background-color: bisque;
}

.hambars span:before {
    top: -10px;
}

.hambars span:after {
    top: 10px;
}

.open span {
    background: transparent;
}

.open span:before, .open span:after {
    top: 0;
    width: 33.3333333333px;
}

.open span:before {
    transform: rotate(-315deg);
}

.open span:after {
    transform: rotate(135deg);
}

.open:hover > span {
    background-color: transparent;
}

.open:hover > span:before, .open:hover > span:after {
    background-color: white;
}

.navMenu {
    position: absolute;
    top: -40vh;
    right: 0;
    width: 50vw;
    height: 40vh;
    border-radius: 0 0 0 10px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: 250ms ease-out;
}

.navMenu ul {
    list-style-type: none;
    margin: 0 auto .5rem;
    padding: 0;
}

.navMenu a {
    display: block;
    margin: 1rem 0;
    font-family: sans-serif;
    color: transparent;
    text-decoration: none;
}

.navMenu.open a {
    color: white;
    transition: 215ms step-end;
}

.navMenu.open {
    top: 0;
}