<h1>Server Error</h1>
<p>We're sorry, something went wrong.</p>
<p>If you were trying to add or edit a scroll, please make sure the title and scroll body are not empty.</p>
<a href="/dashboard" class="btn bg-color3 white">Go to Dashboard</a>